{% if site.data.settings.tag.enable == true and site.data.settings.tag.tag__name != null %}
{% assign recommended_tag = site.data.settings.tag.tag__name | downcase %}
<!-- begin section-tags -->
<section class="section section-tags">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head__small">
          <h3 class="section__title">{{ site.data.settings.tag.tag__title }}</h3>
          <a class="section__link" href="{{ site.baseurl }}/tags/?tag={{ recommended_tag }}">See all <i class="ion ion-ios-arrow-round-forward"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      {% for post in site.tags.[recommended_tag] limit:4 %}
        {% if post.title != null %}
          <div class="article col col-3 col-d-6 col-m-12">

            <div class="article__inner">
              <div class="article__head">
                {% if post.video_embed %}
                <div class="video-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <polygon points="40,30 65,50 40,70"></polygon>
                  </svg>
                </div>
                {% endif %}

                {% if post.image %}
                <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
                  <img class="lazy" data-src="{{site.baseurl}}{{post.image}}" alt="{{post.title}}">
                </a>
                {% endif %}

                <div class="article__meta">
                  {% assign author = site.authors | where: 'username', post.author | first %}
                  {% if author %}
                  <a href="{{ author.url }}" class="article__author__image" title="{{ author.name }}">
                    <img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}">
                  </a>
                  {% else %}
                  <a href="{{site.baseurl}}/about/" class="article__author__image" title="{{site.data.settings.author.author__name}}">
                    <img class="lazy" data-src="{{site.data.settings.author.author__avatar}}" alt="{{site.data.settings.author.author__name}}">
                  </a>
                  {% endif %}
                </div>
              </div>

              <div class="article__content">
                <h2 class="article__title">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </div>
            </div>

          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- end section-tags -->
{% endif %}