---
layout: default
---

<!-- begin author -->
<section class="author">

  <div class="container">
    {% assign post_count = site.posts | where: 'author', page.username %}

    <div class="author__content">
      <div class="author__image"><img class="lazy" data-src="{{ page.image }}" alt="{{ page.name }}"></div>
      <h1 class="author__name">{{ page.name }}</h1>
      {% if post_count.size >= 1 %}
        <div class="author__posts__count">{{ post_count.size }} {% if post_count.size < 2 %}Post{% else %}Posts{% endif %}</div>
      {% endif %}

      <div class="author__info">
      {% if page.location %}
        <span class="author__social__item"><i class="ion ion-md-pin"></i></span>
      {% endif %}
      {% if page.website %}
        <a class="author__social__item" href="{{ page.website }}" aria-label="Website link"><i class="ion ion-ios-link"></i></a>
      {% endif %}
      {% if page.twitter %}
        <a class="author__social__item" href="{{ page.twitter }}" aria-label="Twitter link"><i class="ion ion-logo-twitter"></i></a>
      {% endif %}
      {% if page.facebook %}
        <a class="author__social__item" href="{{ page.facebook }}" aria-label="Facebook link"><i class="ion ion-logo-facebook"></i></a>
      {% endif %}
      </div>

      {{ content }}

    </div>

  </div>

  <div class="container animate">
    <div class="row">
      {% for post in post_count %}
        {% include article.html %}
      {% endfor %}
    </div>
  </div>

</section>
<!-- end author -->