<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {% include header.html %}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->
  
    {% include footer.html %}
  </div>
  <!-- end global wrap -->

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  <script>
    var base_url = "",
      pagination_next_url = base_url + '/page2',
      pagination_next_page_number = '{{ paginator.next_page }}',
      pagination_available_pages_number = '{{ paginator.total_pages }}';
  </script>
</body>

</html>